.mobile-navbar {
    width: 100%;
    height: 55px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .mobile-left .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .mobile-right {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  
  .cart-icon,
  .user-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  
  /* Desktop view me ye navbar hide hoga */
  @media (min-width: 769px) {
    .mobile-navbar {
      display: none;
    }
  }
  