.banner-container {
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    background-color: #fff;
    padding: 30px 30px; 
    box-sizing: border-box;
    margin: 50px 50px; 
  }
  
  .banner-track {
    display: flex;
    animation: scrollBanner 20s linear infinite;
    width: fit-content;
  }
  
  .banner-track img {
    max-width: 800px;
    height: 300px;
    object-fit: cover;
    margin: 0 10px; /* ✅ space between images */
    border-radius: 8px;
  }
  
  /* Keyframes for smooth scrolling */
  @keyframes scrollBanner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  